{% extends 'core/base.html' %}

{% load static %}

{% block title %}Visítanos{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">We are looking forward your visit</span>
            <span class="section-heading-lower">Visit us</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Monday to Friday
              <span class="ml-auto">7:00am - 8:00pm</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Saturday
              <span class="ml-auto">9:00am - 5:00pm</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sunday
              <span class="ml-auto">9:00am - 3:00pm</span>
            </li>
          </ul>
          <p class="address mb-5">
            <em>
              <strong>Hermiston Avenue, N8 8NL</strong>
              <br>
              London
            </em>
          </p>
          <p class="mb-0">
            <small>
              <em>Call us</em>
            </small>
            <br>
            (317) 585-8468
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}